<div class = "container-fluid">

    <h2 align = "center">Books</h2>

    <div ng-show = "borrow" class = "well">
        <form role = "form">
            <div class="form-group">
                <label>Book name</label>
                <p class="form-control-static">{{book.name}}</p>
            </div>
            <div class="form-group">
                <label>Borrower</label>
                <select class = "form-control" ng-model="user" ng-options="user.name for user in users">
                </select>
            </div>
            <a class="btn btn-info" ng-click = "borrow = false">Cancel</a>
            <a class="btn btn-default" ng-click = "update()">Borrow</a>
        </form>
    </div>

    <div ng-show = "create" class = "well">
        <form role = "form">
            <div class = "form-group">
                <label>Book name</label>
                <input class = "form-control" ng-model = "bookName" placeholder = "Book name">
            </div>
            <a class="btn btn-info" ng-click = "create = false">Cancel</a>
            <a class="btn btn-default" ng-click = "save()">Create</a>
        </form>
    </div>

    <div class = "row">
        <div class = "col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <div align = "center" class="btn-group">
                <a type="button" ng-click = "getBorrowed()" class="btn btn-default">Borrowed books</a>
                <a type="button" ng-click = "getAll()" class="btn btn-default">All books</a>
                <a type="button" ng-click = "getFree()" class="btn btn-default">Available books</a>
            </div>
        </div>

        <div class = "col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <div align = "right">
                <a class="btn btn-default" ng-click = "create = true">Add book</a>
            </div>
        </div>
    </div>

    <br/>
    <br/>

    <div class = "well">
        <div class = "form-group">
            <label>Filter : book name</label>
            <input type="text" class="form-control" placeholder = "Book name" ng-model="bookNameFilter">
        </div>
    </div>
    <div class = 'row'>
        <div ng-repeat = "book in books | filter:bookNameFilter">
            <div class = "col-md-1 col-lg-1 col-sm-1 col-xs-1"></div>
            <div class = "col-md-4 col-lg-4 col-sm-10 col-xs-10"
                    ng-class="{'borrowed-book': isBorrowed(book), 'free-book': !isBorrowed(book)}">
                <a class="btn btn-link close-sticker" ng-click = "delete(book)">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <h3>{{book.name}}</h3>
                <br/>
                <div>
                    <strong>Owner</strong> : {{book.owner.firstName}} {{book.owner.lastName}}
                </div>
                <div>
                    <strong>Borrower</strong> : {{book.borrower.firstName}} {{book.borrower.lastName}}
                </div>
                <br/>
                <div ng-show = "isBorrowed(book)">
                    <a class="btn btn-primary" ng-click = "bookReturn(book)">Return</a>
                </div>
                <div ng-hide = "isBorrowed(book)">
                    <a class="btn btn-primary" ng-click = "bookBorrow(book)">Borrow</a>
                </div>
            </div>
            <div class = "col-md-1 col-lg-1 col-sm-1 col-xs-1"></div>
        </div>
    </div>

</div>